body {
    font-family: 'Roboto', sans-serif;
    margin-left: 0px;
    margin-right: 0px;
}

#block {
    margin: auto;
}

header {
    display: flex;
    justify-content:space-between ;
    height: 70px;
    }

#logo_long img {
   height: 100%;
}

#liste {
    width: 200px;
}


#intro {
    list-style-type: none;
    width: 120px;
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}

#intro li {
    text-decoration: none;
}

#intro a {
    color: black;
    text-decoration: none;
 }

 #banner {
     height: 350px;
     display: flex;
     background-image: url("images/backgroung_image.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: local;
     background-size: cover;
     justify-content: center;
     align-items: center;
 }

 #banner p {
     color:white;
     font-size: 1.4em;
     text-align: center;
 }

 #banner img {
     width: 150px;
     height: 50px;
 }

#pres p {
    text-align: center;
    opacity: 0.6;
}

#part_two {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
}


#graphisme h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;

}

#graphisme p {
    font-size: 0.8em;
    opacity: 0.8;
    text-align: center;
    margin-right: 10px;
    margin-top: 0;
}

#strategie h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
}

#strategie p {
    font-size: 0.8em;
    opacity: 0.8;
    text-align: center;
    margin-right: 10px;
}

#illustration h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
}

#illustration p {
    font-size: 0.8em;
    opacity: 0.8;
    text-align: center;
    margin-right: 10px;
}

#quote p {
    margin-top: 50px;
    text-align: center;
    opacity: 0.8;
}

#quote figcaption {
    text-align: center;
    font-size: 0.9em;
    opacity: 0.6;
}

footer {
    background-color: rgb(73, 42, 126);
}


#info p {
    padding-top: 20px;
    text-align: center;
    color: white;
    font-size: 0.6em;
}

.logo {
    display: flex;
    margin-right: 45%;
    margin-left: 45%;
    justify-content: space-around;
    align-content: center;
}

.logo i {
    color: white;
    opacity: 0.7;
}

.nav_foot {
    display: flex;
    color: white;
    justify-content: space-around;
}

.nav_foot a {
    text-decoration: none;
    color: white;
    font-size: 0.7em;
}

#coordonnees {
    list-style-type: none;
    font-size: 0.8em;
}

.nav_foot p {
    text-align: left;
    color: white;
    font-size: 0.9em;
    opacity: 0.7;

}

#rapide li {
    margin-left: 20px;
}

#about li {
    margin-left: 20px;
}

#coordonnees li {
    margin-left: 20px;
}

@media screen and (max-width: 600px) {
    #part_two {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}